@media (min-width:300px) and (max-width:700px){
     .navu4 {
    position: relative;
  }

  .navbar4 {
    position: absolute;
    top: 70px;
    right: 10px;
    left: auto;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    z-index: 1000;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .navbar4 li {
    display: block;
    padding: 15px 28px;
    width: 50%;
    text-align: center;
  }

  .navbar4 li a {
    color: white;
    font-size: 18px;
    transition: 0.3s ease;
  }

  .navbar4 li a:hover {
    color: cyan;
    letter-spacing: 1px;
  }

  .menu-icons-4 {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1100;
    cursor: pointer;
  }
  .heading1{
    margin-top: 50%;
    font-size: 7vw;
}
.heading2{
    font-size: 6vw;
    text-align: center;
}
.para1{
    text-align: center;
    font-size: 3.5vw;
    margin-top: 30px;
}
br{
    display: none;
}
}

@media (min-width:710px) and (max-width:1024px) {
    .heading1{
    margin-top: 35%;
}
.heading2{
    text-align: center;
    font-size: 3rem;
}
.para1{
    text-align: center;
    margin-top: 30px;
    font-size: 1rem;
}
}
